<section class="clearfix">
	<h1>Users: Request a new confirmation email</h1>
	<p>Have you lost your account confirmation email? User this form to request a new email to verify your email address and activate your account.</p>

	<% if flash %>
		<%= h flash.message %>
	<% end %>

	<form method="post" action="/users/request-new-confirmation-email">

		<label for="user_email">
			Email
			<input type="email" name="user_email" id="user_email" placeholder="email" required>
		</label>

		<label for="user_password">
			Password
			<input type="password" name="user_password" id="user_password" required>
		</label>

		<input type="hidden" name="nonce" value="<%= @nonce %>">

		<input type="submit" value="Submit">

	</form>

	<p>Already a user? <a href="/users/login">Log in here.</a></p>

</section>