<section class="clearfix">
	<h1>Users: Sign Up</h1>

	<% if flash %>
		<%= flash.message %>
	<% end %>

	<% if @user %>
		<h1>Welcome, <%= @user.user_name %>!</h1>
	<% end %>

	<form method="post" action="/users/signup">
		
		<label for="user_name">
			Your name
			<input type="text" name="user_name" id="user_name" placeholder="name" required>
		</label>

		<label for="user_email">
			Email
			<input type="email" name="user_email" id="user_email" placeholder="email" required>
		</label>

		<label for="user_password">
			Password
			<input type="password" name="user_password" id="user_password" required>
		</label>

		<label for="user_password_confirm">
			Confirm Password
			<input type="password" name="user_password_confirm" id="user_password_confirm" required>
		</label>

		<input type="hidden" name="nonce" value="<%= @nonce %>">

		<input type="submit" value="Sign Up">

	</form>

	<p>Already a user? <a href="/users/login">Log in here.</a></p>

</section>