<h3>Please check your email.</h3>

<p>We've sent a friendly note requesting you click a link to confirm your email address. This will activate your account and you'll be able to log in.</p>

<p>Thanks!</p>